body {
    margin: 0 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {

}

.left-links {
    display: flex;
}

a {

}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    height: 300px;
}

.section-1 p {
    flex-wrap: wrap;
}

.section-1 button {
    height: 30px;
    width: 100px;
}

.section-1-image-container {
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cards-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-card, .image-card {
    width: 150px;
    height: 130px;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3 .quote-block {
    width: 800px;
    padding: 50px;
}

.section-3 h3 {
    text-align: left;
    font-size: 30px;
    font-style: italic;

}

.section-3 h4 {
    text-align: right;
    font-size: 15px;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.section-4 .cta-block {
    height: 200px;
    width: 800px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-4 button {
    width: 100px;
    height: 50px;
    flex-shrink: 0;
}

.section-4 h4 , h5 {
    padding: 0;
    margin: 0;
    text-align: left;
}

.section-4 h4 {
    font-size: 25px;
}

.section-4 h5 {
    font-size: 15px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
}